.image{
	margin: 5px;
	max-height: 400px;
	max-width: 40%;
}

h2 i {
	margin: 2px;
}

.description {
	margin-top: 20px;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.video_embed {
	max-width: 40%;
}